.wrapper {
  display: flex;
  margin-top: 7.12rem;
  gap: 1rem;
}

.full {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.tilt {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}

.disabled {
  fill: #585858
}