.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7.12rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_b/book_information_bg.svg') center center no-repeat;
  background-size: cover;
}
