.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_b/event_bg.png') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.95rem 3.12rem 1.95rem 3.12rem;
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #191F28;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.0625rem;
  color: #8B95A1;
}

.slide_wrapper {
  margin-top: 5.93rem;
  padding-left: 7rem;
}

.label {
  font-family: "Pretendard", sans-serif;
  font-size: 1.01563rem;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 1.56rem;
  letter-spacing: 0.20313rem;
  text-transform: uppercase;
  color: #B87045;
}

.wrapper {
  display: flex;
  gap: 3.12rem;
}

.event_info {
  font-family: "Pretendard", sans-serif;
  font-size: 1.40625rem;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #6B7684;
}

.event_info span {
  font-family: "Pretendard", sans-serif;
  font-size: 1.17188rem;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  margin-right: 0.98rem;
  letter-spacing: 0.11719rem;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #B87045;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.event {
  position: absolute;
  width: 100%;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

.show {
  animation-name: fadeIn;
}

.hide {
  animation-name: fadeOut;
}

.dot_container {
  display: flex;
  justify-content: center;
  margin-top: 20rem;
  margin-left: -41rem;
}

.dot {
  width: 0.46875rem;
  height: 0.46875rem;
  margin: 0 0.55rem;
  transition: background-color 0.3s;
  border-radius: 50%;
  background-color: #FFFFFF;
}

.active {
  background-color: #ADB5BD
}

.event_title {
  font-family: "Pretendard", sans-serif;
  font-size: 3.90625rem;
  font-weight: 600;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 1.59rem;
  white-space: pre-line;
  letter-spacing: -0.07813rem;
  text-transform: uppercase;
  color: #191F28;
}
