.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 675px;
  background: url('../../../assets/img/media/type_b/event_bg.png') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  padding: 31.25px 50px 31.25px 50px
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #191F28;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 1px;
  color: #8B95A1;
}

.slide_wrapper {
  margin-top: 94.89px;
  padding-left: 100px;
}

.label {
  font-family: "Pretendard", sans-serif;
  font-size: 16.25px;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 25px;
  letter-spacing: 3.25px;
  text-transform: uppercase;
  color: #B87045;
}

.wrapper {
  display: flex;
  gap: 50px;
}

.event_info {
  font-family: "Pretendard", sans-serif;
  font-size: 22.5px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #6B7684;
}

.event_info span {
  font-family: "Pretendard", sans-serif;
  font-size: 18.75px;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  margin-right: 15.62px;
  letter-spacing: 1.875px;
  text-transform: uppercase;
  text-overflow: ellipsis;
  color: #B87045;
}

.event_title {
  font-family: "Pretendard", sans-serif;
  font-size: 62.5px;
  font-weight: 600;
  font-style: normal;
  line-height: 130%;
  margin-bottom: 31.25px;
  white-space: pre-line;
  letter-spacing: -1.25px;
  text-transform: uppercase;
  color: #191F28;
}