@import url('https://fonts.googleapis.com/css?family=Nanum+Myeongjo&display=swap');

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7.12rem;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_b/line_of_book_bg.png') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.95rem 3.12rem 1.95rem 3.12rem;
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #191F28;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.0625rem;
  color: #8B95A1;
}

.title {
  font-family: "Pretendard", sans-serif;
  font-size: 1.17188rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-top: 9.8rem;
  margin-bottom: 2.15rem;
  animation: slideInUp 0.8s ease forwards;
  text-align: center;
  white-space: pre-line;
  color: #8B95A1;
}

.line_of_book {
  font-family: "Nanum Myeongjo", sans-serif;
  font-size: 2.14844rem;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  margin-bottom: 1.17rem;
  text-align: center;
  white-space: pre-line;
  letter-spacing: -0.04294rem;
  color: #191F28;
}

.caption {
  font-family: "Pretendard", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #6B7684;
}

/* 애니메이션을 위한 스타일 */
.animate {
  animation: slideInUp 0.8s ease forwards;
}

@keyframes slideInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* 한 글자씩 나타나는 애니메이션 */
.animate_char {
  display: inline-block;
  transform: translateY(20px);
  animation: fadeInUp 2s ease forwards; /* 애니메이션 시간 늘리기 */
  animation-delay: 0.2s; /* 애니메이션 지연 시간 */
  opacity: 0;
}

/* 한자씩 위로 나타나는 애니메이션 */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
