.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_b/notice_bg.png') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2.76rem;
  padding: 1.95rem 3.12rem 1.95rem 3.12rem;
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #FFF;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.0625rem;
  color: #8B95A1;
}

.slide {
  display: flex;
  justify-content: center;
  gap: 75px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.56rem;
}

.img {
  width: 17.57813rem;
  max-width: 100%;
  height: 24.80469rem;
  max-height: 100%;
  border-radius: 0.78125rem;
  box-shadow: 9.375px 12.5px 9.375px 0 rgba(0, 0, 0, 0.10);
  object-fit: contain;
}

.text_wrapper {
  display: flex;
  gap: 0.59rem;
}

.index {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.36719rem;
  font-weight: 700;
  font-style: normal;
  line-height: 100%;
  letter-spacing: -0.02731rem;
  text-transform: uppercase;
  color:  #191F28;
}

.title {
  font-family: "Pretendard", sans-serif;
  font-size: 1.01563rem;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  overflow: hidden;
  width: 100%;
  max-width: 15.234rem;
  text-align: left;
  white-space: nowrap;
  letter-spacing: -0.02031rem;
  text-overflow: ellipsis;
  color: #191F28;
}

.fadeIn {
  transition: opacity 0.9s ease-in;
  opacity: 1;
}

.fadeOut {
  transition: opacity 0.9s ease-out;
  opacity: 0;
}
