.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 7.12rem;
}


.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_b/promotion_bg.svg') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.95rem 3.12rem 1.95rem 3.12rem;
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #191F28;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.0625rem;
  color: #8B95A1;
}

.content {
  display: flex;
  align-items: center;
  margin-top: 2.86rem;
}

.clock_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 2.03rem;
}

.lib {
  font-family: "Pretendard", sans-serif;
  font-size: 0.66406rem;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 3.04rem;
  text-align: center;
  letter-spacing: 0.11956rem;
  text-transform: uppercase;
  color: #8F725E;
}

.clock {
  position: relative;
  width: 9.375rem;
  height: 9.37788rem;
  margin-bottom: 1.48rem;
  background: url('../../../assets/img/media/type_b/clock.png') center center no-repeat;
  background-size: cover;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  background-color: #191F28;
}

.hand:nth-child(1) {
  width: 0.0625rem; /* 1px = 1/16rem */
  height: 2.5rem;   /* 40px = 40/16rem */
}

.hand:nth-child(2) {
  width: 0.0625rem; /* 1px = 1/16rem */
  height: 3.4375rem; /* 55px = 55/16rem */
}

.hand:nth-child(3) {
  width: 0.03125rem; /* 0.5px = 0.5/16rem */
  height: 3.5625rem; /* 57px = 57/16rem */
  background-color: #191F28;
}

.date {
  font-family: "Pretendard", sans-serif;
  font-size: 0.54688rem;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 0.2rem;
  text-align: center;
  letter-spacing: -0.01638rem;
  text-transform: uppercase;
  color:#191F28;
}

.time {
  font-family: "Century Gothic", sans-serif;
  font-size: 1.95313rem;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: 0.13675rem;
  text-transform: uppercase;
  color: #191F28;
}

.video {
  width: 48.28125rem;
  height: 27.14844rem;
  margin-right: 1.95rem;
  margin-left: 1.95rem;
}

.weather_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  font-family: "Pretendard", sans-serif;
  font-size: 0.66406rem;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 1.84rem;
  text-align: center;
  letter-spacing: 0.07306rem;
  text-transform: uppercase;
  color: #8F725E;
}

.perceived {
  font-family: "Pretendard", sans-serif;
  font-size: 1.21094rem;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.02419rem;
  text-transform: uppercase;
  color: #191F28;
}

.icon {
  width: 8rem;
}

.temperature {
  font-family: "Century Gothic", sans-serif;
  font-size: 2.73438rem;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 0.78rem;
  text-align: center;
  text-transform: uppercase;
  color: #191F28;
}

.description {
  font-family: "Pretendard", sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.01875rem;
  text-transform: uppercase;
  color: #191F28;
}
