.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 675px;
  background: url('../../../assets/img/media/type_b/promotion_bg.svg') center center no-repeat;
  background-size: cover;
}

.fullscreen {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background: url('../../../assets/img/media/type_b/promotion_bg.svg') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-bottom: 45.81px;
  padding: 31.25px 50px 31.25px 50px
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #191F28;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 1px;
  color: #8B95A1;
}

.content {
  display: flex;
  align-items: center;
}

.clock_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 32.5px;
}

.lib {
  font-family: "Pretendard", sans-serif;
  font-size: 10.625px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 48px;
  text-align: center;
  letter-spacing: 1.913px;
  text-transform: uppercase;
  color: #8F725E;
}

.clock {
  position: relative;
  width: 150px;
  height: 150px;
  margin-bottom: 23px;
  background: url('../../../assets/img/media/type_b/clock.png') center center no-repeat;
  background-size: cover;
}

.hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  background-color: #191F28;
}

.hand:nth-child(1) {
  width: 1px;
  height: 40px;
}

.hand:nth-child(2) {
  width: 1px;
  height: 55px;
}

.hand:nth-child(3) {
  width: 0.5px;
  height: 57px;
  background-color: #191F28;
}

.date {
  font-family: "Pretendard", sans-serif;
  font-size: 10.5px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 5.1px;
  text-align: center;
  letter-spacing: -0.84px;
  text-transform: uppercase;
  color:#191F28;
}

.time {
  font-family: "Century Gothic", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: 7px;
  text-transform: uppercase;
  color: #191F28;
}

.video {
  margin-right: 31px;
  margin-left: 31px;
}

.weather_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.label {
  font-family: "Pretendard", sans-serif;
  font-size: 10.625px;
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 29px;
  text-align: center;
  letter-spacing: 1.169px;
  text-transform: uppercase;
  color: #8F725E;
}

.perceived {
  font-family: "Pretendard", sans-serif;
  font-size: 19.375px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.387px;
  text-transform: uppercase;
  color: #191F28;
}

.icon {
  width: 150px;
}

.temperature {
  font-family: "Century Gothic", sans-serif;
  font-size: 43.75px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #191F28;
}

.description {
  font-family: "Pretendard", sans-serif;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #191F28;
}

.f_header {
  display: flex;
  justify-content: space-between;
  width: 1760px; /* 1100px * 1.6 */
  margin-bottom: 73.296px; /* 45.81px * 1.6 */
  padding: 50px 80px 50px 80px; /* 31.25px * 1.6 */
}

.f_header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 16px; /* 10px * 1.6 */
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #191F28;
}

.f_header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 16px; /* 10px * 1.6 */
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 1.6px; /* 1px * 1.6 */
  color: #8B95A1;
}

.f_content {
  display: flex;
  align-items: center;
}

.f_clock_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 52px; /* 32.5px * 1.6 */
}

.f_lib {
  font-family: "Pretendard", sans-serif;
  font-size: 17px; /* 10.625px * 1.6 */
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 76.8px; /* 48px * 1.6 */
  text-align: center;
  letter-spacing: 3.061px; /* 1.913px * 1.6 */
  text-transform: uppercase;
  color: #8F725E;
}

.f_clock {
  position: relative;
  width: 240px; /* 150px * 1.6 */
  height: 240px; /* 150px * 1.6 */
  margin-bottom: 36.8px; /* 23px * 1.6 */
  background: url('../../../assets/img/media/type_b/clock.png') center center no-repeat;
  background-size: cover;
}

.f_hand {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50%);
  transform-origin: bottom center;
  background-color: #191F28;
}

.f_hand:nth-child(1) {
  width: 1.6px; /* 1px * 1.6 */
  height: 64px; /* 40px * 1.6 */
}

.f_hand:nth-child(2) {
  width: 1.6px; /* 1px * 1.6 */
  height: 88px; /* 55px * 1.6 */
}

.f_hand:nth-child(3) {
  width: 0.8px; /* 0.5px * 1.6 */
  height: 91.2px; /* 57px * 1.6 */
  background-color: #191F28;
}

.f_date {
  font-family: "Pretendard", sans-serif;
  font-size: 16.8px; /* 10.5px * 1.6 */
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 8.16px; /* 5.1px * 1.6 */
  text-align: center;
  letter-spacing: -1.344px; /* -0.84px * 1.6 */
  text-transform: uppercase;
  color: #191F28;
}

.f_time {
  font-family: "Century Gothic", sans-serif;
  font-size: 41.6px; /* 26px * 1.6 */
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: 11.2px; /* 7px * 1.6 */
  text-transform: uppercase;
  color: #191F28;
}

.f_video {
  margin-right: 49.6px; /* 31px * 1.6 */
  margin-left: 49.6px; /* 31px * 1.6 */
}

.f_weather_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.f_label {
  font-family: "Pretendard", sans-serif;
  font-size: 17px; /* 10.625px * 1.6 */
  font-weight: 500;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 46.4px; /* 29px * 1.6 */
  text-align: center;
  letter-spacing: 1.878px; /* 1.169px * 1.6 */
  text-transform: uppercase;
  color: #8F725E;
}

.f_perceived {
  font-family: "Pretendard", sans-serif;
  font-size: 31px; /* 19.375px * 1.6 */
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.619px; /* -0.387px * 1.6 */
  text-transform: uppercase;
  color: #191F28;
}

.f_icon {
  width: 240px; /* 150px * 1.6 */
}

.f_temperature {
  font-family: "Century Gothic", sans-serif;
  font-size: 70px; /* 43.75px * 1.6 */
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  margin-bottom: 19.2px; /* 12px * 1.6 */
  text-align: center;
  text-transform: uppercase;
  color: #191F28;
}

.f_description {
  font-family: "Pretendard", sans-serif;
  font-size: 24px; /* 15px * 1.6 */
  font-weight: 400;
  font-style: normal;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.48px; /* -0.3px * 1.6 */
  text-transform: uppercase;
  color: #191F28;
}



.zoom {
  position: fixed;
  z-index: 99999;
  top: 10px;
  right: 10px;
  display: none; /* 기본적으로 숨김 */
  width: 48px;
  height: 48px;
  background: url('../../../assets/img/zoom.svg') center center no-repeat;
  background-size: cover;
}

.container:hover .zoom,
.fullscreen:hover .zoom {
  display: block; /* 호버 시 보이도록 */
}
