.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 675px;
  background: url('../../../assets/img/media/type_b/welcome_message_bg.png') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin-bottom: 13.27px;
  padding: 31.25px 50px 31.25px 50px
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #FFF;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 10px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 1px;
  color: #EFF1F3;
}

.time {
  font-family: "Century Gothic", sans-serif;
  font-size: 56.25px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-bottom: 7.5px;
  text-align: center;
  color: #FFFFFF;
}

.date {
  font-family: "Pretendard", sans-serif;
  font-size: 18.75px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #FFFFFF;
}

.title {
  font-family: "Pretendard", sans-serif;
  font-size: 16.25px;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-align: center;
  letter-spacing: 2.6px;
  color: #8B95A1;
}

.message {
  font-family: "Pretendard", sans-serif;
  font-size: 37.5px;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  margin-top: 347.16px;
  margin-bottom: 5.5px;
  text-align: center;
  letter-spacing: -0.75px;
  color: #191F28;
}

@keyframes slideInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.ticker {
  position: fixed;
  bottom: 211px;
  left: 360px;
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 1200px;
  height: 40px;
  background: #000;
}

.ticker_message {
  font-family: "Pretendard", sans-serif;
  font-size: 13.75px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  animation: ticker-animation 50s linear infinite;
  white-space: nowrap;
  color: #FFF;
}

@keyframes ticker-animation {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}