.container_y {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23.7275rem;
  height: 42.18225rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/kiosk/type_a/new_book_bg_y.svg') center center no-repeat;
  background-size: cover;
}

.swiper_y {
  width: 18.88975rem;
  height: 32.5rem;
  margin-top: 3.9972rem;
}

.img_y {
  width: 18.88975rem;
  height: 31.38775rem;
}

.container_x {
  position: relative;
  display: flex;
  align-items: center;
  width: 75rem;
  height: 42.1875rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/kiosk/type_a/new_book_bg_x.svg') center center no-repeat;
  background-size: cover;
}

.swiper_x {
  width: 59.76563rem;
  height: 32.63675rem;
  margin-top: 4rem;
  margin-left: 10.5rem;
}

.img_x {
  width: 59.76563rem;
  height: 28.63675rem;
}


.wrapper {
  display: flex;
  gap: 1rem;
}