.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
}

.prev {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background: url('../../assets/img/arrow.svg') center center no-repeat;
  background-size: cover;
}

.next {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transform: rotate(180deg);
  background: url('../../assets/img/arrow.svg') center center no-repeat;
  background-size: cover;
}