.wrapper {
  display: flex;
  gap: 1rem;
}

.container_y {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23.7275rem;
  height: 42.18225rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/smart/type_b/custom_bg_y.svg') center center no-repeat;
  background-size: cover;
}

.lib_swiper_y {
  width: 19.09867rem;
  height: 27.82688rem;
  margin-top: 10.5rem;
}

.lib_img_y {
  width: 19.09867rem;
  height: 25.52688rem;
}

.lib_swiper_x {
  width: 62.08513rem;
  height: 18.83988rem;
  margin-top: 16.72063rem;
}

.lib_img_x {
  width: 62.08513rem;
  height: 15.83988rem;
}

.container_x {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/smart/type_b/custom_bg_x.svg') center center no-repeat;
  background-size: cover;
}