.wrapper {
  display: flex;
  gap: 1rem;
}

.container_y {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23.7275rem;
  height: 42.18225rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/smart/type_b/keyword_bg_y.svg') center center no-repeat;
  background-size: cover;
}

.tabs_y {
  margin-top: 3.97218rem;
}

.container_x {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/smart/type_b/keyword_bg_x.svg') center center no-repeat;
  background-size: cover;
}

.keyword_title_y {
  color: #242424;
  text-align: center;
  font-family: "Pretendard", sans-serif;
  font-size: 1.31713rem;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: -0.03294rem;
}

.keyword_caption_y {
  text-align: center;
  margin-bottom: 1.18rem;
  margin-top: 0.31rem;
  color: #6B7684;
  font-family: "Pretendard", sans-serif;
  font-size: 0.65856rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01644rem;
}

.bubble_chart_y {
  width: 19.14506rem;
  height: 16.02963rem;
  position: relative;
}

.bubble_item_y {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: #FFF;
  font-family: "Pretendard", sans-serif;
  font-size: 0.65856rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease forwards;
  text-align: center;
  white-space: nowrap;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.refresh_wrapper_y {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.05rem;
  cursor: pointer;
  gap: 0.28rem;
}

.refresh_wrapper_y img {
  width: 0.8155rem;
  height: 0.8155rem;
}

.refresh_wrapper_y div {
  color: #6B7684;
  font-family: "Pretendard", sans-serif;
  font-size: 0.57075rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.01425rem;
}

.selected_keyword_list_y {
  display: flex;
  height: 1.53667rem;
  margin-top: 1.17rem;
  gap: 0.26rem;
  justify-content: center;
}

.selected_keyword_list_y .keyword_item_y {
  color: #1773EB;
  font-family: Pretendard;
  font-size: 0.57075rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1.53667rem;
  padding: 0 0.66rem 0 0.88rem;
  border-radius: 1.31713rem;
  border: 0.702px solid #1773EB;
  background: #FFF;
  gap: 0.44rem;
}

.selected_keyword_list_y img {
  width: 0.74638rem;
  height: 0.74638rem;
  cursor: pointer;
}

.select_box_wrapper_y {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.32rem;
  gap: 0.26rem;
}

.select_box_wrapper_y select {
  width: 7.46388rem;
  height: 1.90988rem;
  padding: 0.44rem 0.88rem 0.44rem 3.5rem;
  border: 0.351px solid #272A49;
  border-radius: 1.31713rem;
  background: #FFFFFF url('../../../assets/img/smart/type_a/arrow.svg') no-repeat right 0.3rem center;
  background-size: 1.05375rem;
  appearance: none;
  color: #191F28;
  font-family: "Pretendard", sans-serif;
  font-size: 0.65856rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.select_box_wrapper_y select:focus {
  outline: none;
}

.select_y {
  position: relative;
}

.select_y label {
  color: #6B7684;
  font-family: "Pretendard", sans-serif;
  font-size: 0.65856rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: absolute;
  top: 0.54rem;
  left: 0.7rem;
}

.recommendation_y {
  margin-left: 2rem;
  font-family: "Pretendard", sans-serif;
  font-size: 0.65856rem;
  font-weight: 600;
  font-style: normal;
  line-height: 140%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15.19113rem;
  height: 2.41477rem;
  margin-top: 0.66rem;
  cursor: pointer;
  text-align: center;
  letter-spacing: -0.01644rem;
  color: #FFF;
  border-radius: 2.19525rem;
  background: #191F28;
}