.menu_title {
  font-family: "Pretendard", sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: flex;
  justify-content: center;
  margin-bottom: 2.62rem;
  padding: 0.75rem 0 0.75rem 0;
  text-align: center;
  color: #FFF;
}