.zoom {
  position: fixed;
  z-index: 99999;
  top: 10px;
  right: 10px;
  display: none;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  background: url('../../assets/img/zoom.svg') center center no-repeat;
  background-size: cover;
}

.container:hover .zoom,
.fullscreen:hover .zoom {
  display: block;
}
