.navigation {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100vh;
  background: #080808;
}

.header {
  font-family: 'Pretendard', sans-serif;
  font-size: 20px;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  padding: 48px;
  text-align: center;
  color: #FFF;
}

.menu {
  display: flex;
  flex-direction: column;
  padding: 93px 44px 44px 44px;
  text-align: center;
  gap: 40px;
}

.menu li a {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: #8B95A1;
}

.active {
  font-family: "Pretendard", sans-serif;
  font-weight: 600 !important;
  font-style: normal;
  line-height: normal;
  color: #FFFFFF !important;
}

