.navigation {
  width: 10.42vw;
  height: 100vh;
  background: #080808;
}

.header {
  font-family: 'Pretendard', sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin-bottom: 5.81rem;
  padding: 3rem 3rem 2.375rem 3rem;
  text-align: center;
  color: #FFF;
}

.menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 2.5rem;
}

.menu a {
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #8B95A1;
}

.active {
  color: #FFFFFF !important;
}

