.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_a/book_information_bg.svg') center center no-repeat;
  background-size: cover;
}


.header {
  display: flex;
  justify-content: space-between;
  padding: 1.95rem 3.12rem 1.95rem 3.12rem;
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #FFF;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.0625rem;
  color: #8B95A1;
}

.new_book_wrapper {
  display: flex;
  padding: 1.05rem 5.08rem 2.1rem 3.12rem;
}

.label {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 1.91rem;
  gap: 0.42rem;
}

.label div {
  font-family: "Pretendard", sans-serif;
  font-size: 1.17188rem;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.02931rem;
  color: #FFF;
}

.label img {
  width: 1.72756rem;
}

.current {
  display: flex;
  margin-right: 5.13rem;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  gap: 1.25rem;
}

.current img {
  width: 8.08594rem;
  height: 11.66019rem;
  border-radius: 0.40406rem;
  box-shadow: 5.388px 5.388px 21.551px 2.155px rgba(0, 0, 0, 0.20);
}

.book_title {
  font-family: "Pretendard", sans-serif;
  font-size: 1.5625rem;
  font-weight: 600;
  line-height: 140%;
  overflow: hidden;
  width: 100%;
  max-width: 14.625rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #FFF;
}

.book_info {
  font-family: "Pretendard", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  margin-top: 2.66rem;
  margin-bottom: 0.32rem;
  color: #6B7684;
}

.book_summary {
  font-family: "Pretendard", sans-serif;
  font-size: 0.85938rem;
  font-weight: 400;
  line-height: 150%;
  display: -webkit-box;
  overflow: hidden;
  max-width: 19.45rem;
  color: #FFF;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.55rem;
}

.list img {
  width: 8.08594rem;
  height: 11.66019rem;
  border-radius: 0.40406rem;
  box-shadow: 5.388px 5.388px 21.551px 2.155px rgba(0, 0, 0, 0.20);
}

.list_wrapper {
  display: flex;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
  gap: 2.35rem;
}

.list div {
  font-family: "Pretendard", sans-serif;
  font-size: 0.78125rem;
  font-weight: 500;
  overflow: hidden;
  max-width: 8.08rem;
  text-align: left;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #ADB5BD;
}

.fade-in {
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateX(0);
  opacity: 1;
}

.fade-out {
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
  transform: translateX(20px);
  opacity: 0;
}


.bestseller_wrapper {
  display: flex;
  padding: 3.53rem 5.08rem 0 3.13rem;
}