.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_a/event_bg.svg') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.95rem 3.12rem 1.95rem 3.12rem;
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #FFF;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.0625rem;
  color: #8B95A1;
}

.wrapper {
  display: flex;
  justify-content: center;
  margin-top: 11.95rem;
  gap: 1.56rem;
}

.event_info {
  font-family: "Pretendard", sans-serif;
  font-size: 1.79688rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  width: 26.5625rem;
  padding: 1.17188rem 3.125rem;
  text-align: center;
  letter-spacing: 0.17969rem;
  color: #FFF;
  border: 0.938px solid rgba(229, 232, 235, 0.50);
  border-radius: 3.90625rem;

}

.event_info span {
  font-family: "Pretendard", sans-serif;
  font-size: 1.17188rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  margin-right: 0.94rem;
  text-align: center;
  letter-spacing: 0.11719rem;
  color: #8B95A1;
}

.event {
  position: absolute;
  width: 100%;
  transition: opacity 0.8s ease-in-out;
  opacity: 0;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

.dot_container {
  display: flex;
  justify-content: center;
  margin-top: 33rem;
}

.dot {
  width: 0.46875rem;
  height: 0.46875rem;
  margin: 0 0.55rem;
  transition: background-color 0.3s;
  border-radius: 50%;
  background-color: #ADB5BD;
}

.active {
  background-color: #FFFFFF
}

.event_title {
  font-family: "Pretendard", sans-serif;
  font-size: 4.6875rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  overflow: hidden;
  margin-top: 2.04rem;
  text-align: center;
  white-space: pre-line;
  letter-spacing: -0.11719rem;
  text-overflow: ellipsis;
  color: #FFF;
}

.slide_wrapper {
  display: flex;
  justify-content: center;
}

