.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  background: url('../../../assets/img/media/type_a/line_of_book_bg.svg') center center no-repeat;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1.95rem 3.12rem 1.95rem 3.12rem;
}

.header_title_kr {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  color: #FFF;
}

.header_title_en {
  font-family: "Pretendard", sans-serif;
  font-size: 0.625rem;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
  text-align: right;
  letter-spacing: 0.0625rem;
  color: #8B95A1;
}

.line_of_book {
  font-family: "SeoulHangang CM", sans-serif;
  font-size: 2.34375rem;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  margin-top: 13.32rem;
  margin-bottom: 1.17rem;
  animation: slideInUp 0.8s ease forwards;
  text-align: center;
  letter-spacing: -0.04688rem;
  color: #FFF;
}

.caption {
  font-family: "Pretendard", sans-serif;
  font-size: 0.9375rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  animation: slideInUp 0.8s ease forwards;
  text-align: center;
  color: #ADB5BD;
}

@keyframes slideInUp {
  0% {
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}