.container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 675px;
  background: url('../../../assets/img/media/type_a/return_date_bg.svg') center center no-repeat;
  background-size: cover;
}