.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 79.17vw;
  height: 100vh;
  background-color: #222222;
}

.index {
  display: flex;
  flex-direction: column;
  width: 10.42vw;
  padding: 7.5rem .62rem 0 2.19rem;
  border-left: 1px solid rgba(255, 255, 255, 0.10);
  background-color: #222222;
}

.full {
  position: relative;
  width: 100%;
  height: 100vh;
  background-size: cover;
}


.full img {
  position: absolute;
  z-index: 9999;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  transition: opacity 0.3s ease; /* 부드러운 전환 효과 */
  opacity: 0; /* 기본적으로 투명하게 설정 */
}

.full:hover img {
  opacity: 1; /* 호버 시 이미지가 보이도록 설정 */
}
