.container {
  position: relative;
  display: flex;
  width: calc(100% - 200px);
  height: 100vh;
  margin-left: 200px;
  background-color: #222222;
}

.content {
  width: calc(100% - 200px);
  border-right: 1px solid rgba(255, 255, 255, 0.10);
}
