.container {
  display: flex;
  width: calc(100% - 200px);
  height: 100vh;
  margin-left: 200px;
  background-color: #222222;
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: calc(100% - 200px);
  border-right: 1px solid rgba(255, 255, 255, 0.10);
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 40px;
}

.prev {
  width: 48px;
  height: 48px;
  background: url('../assets/img/arrow.svg') center center no-repeat;
  background-size: cover;
}

.next {
  display: inline-block;
  width: 48px;
  height: 48px;
  transform: rotate(180deg);
  background: url('../assets/img/arrow.svg') center center no-repeat;
  background-size: cover;
}

.full {
  width: 48px;
  height: 48px;
  margin-top: 114px;
  cursor: pointer;
  background: url('../assets/img/full.svg') center center no-repeat;
  background-size: cover;
}