.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 39px;
  padding-top: 40px;
}

.tab_group {
  display: flex;
}

.tab_group li {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 89px;
  cursor: pointer;
  gap: 10px;
}

.tab_group a {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #6B7684;
}


.active {
  font-family: "Pretendard", sans-serif;
  font-size: 16px;
  font-weight: 600 !important;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #FFF !important;
}

.tab_group img {
  width: 100%;
  height: 2px;
  margin-top: 10px;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}
