.container {
  display: flex;
  justify-content: center;
  padding: 2.5rem 0 1.25rem 2.5rem;
  gap: .5rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  padding: .75rem 1.25rem .75rem 1.25rem;
  gap: .62rem;
}

.wrapper a {
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #6B7684;
}

.active {
  font-family: "Pretendard", sans-serif;
  font-size: 1rem;
  font-weight: 600 !important;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #FFF !important;
}

.wrapper img {
  width: 3rem;
}

