.container_y {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23.7275rem;
  height: 42.18225rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/kiosk/type_b/notice_bg_y.svg') center center no-repeat;
  background-size: cover;
}

.selected_item_y {
  width: 19.12038rem;
  height: 27.03875rem;
  margin-top: 4.61rem;
  margin-bottom: 0.88rem;
  border-radius: 0.65863rem;
  object-fit: cover;
}

.selected_item_y img {
  border-radius: 0.65863rem;
  box-shadow: 5.269px 7.025px 10.538px 0 rgba(0, 0, 0, 0.20);
}

.swiper_y {
  width: 19.12038rem;
  height: 5.4rem;
}

.swiper_slide_y {
  box-sizing: border-box;
  width: 2.72363rem;
  height: 3.85481rem;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 0.21956rem;
  box-shadow: 3.514px 3.514px 7.029px 0 rgba(0, 0, 0, 0.10);
  object-fit: cover;
}

.active {
  border-color: #000;
}

.container_x {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/kiosk/type_b/notice_bg_x.svg') center center no-repeat;
  background-size: cover;
}

.swiper_x {
  width: 60.9375rem;
  height: 29.52344rem;
  margin-top: 7.81rem;
}

.swiper_slide_x {
  width: 18.75rem;
  height: 26.52344rem;
  border-radius: 0.78125rem;
  object-fit: cover;
}

.wrapper {
  display: flex;
  gap: 1rem;
}