.container_y {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23.7275rem;
  height: 42.18225rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/kiosk/type_b/welcome_message_bg_y.svg') center center no-repeat;
  background-size: cover;
}

.time_y {
  font-family: "Century Gothic", sans-serif;
  font-size: 2.63438rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-top: 5.84rem;
  margin-bottom: 0.26rem;
  text-align: center;
  color: #FFF;
}

.date_y {
  font-family: "Pretendard", sans-serif;
  font-size: 0.79031rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-bottom: 20.73rem;
  text-align: center;
  color: #FFF;
}

.message_y {
  font-family: "Pretendard", sans-serif;
  font-size: 1.31719rem;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  margin-bottom: 0.66rem;
  animation: slideUp 1s ease-in-out forwards;
  text-align: center;
  letter-spacing: -0.02638rem;
  color: #191F28;
}

.caption_y {
  font-family: "Pretendard", sans-serif;
  font-size: 0.57081rem;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  animation: slideUp 1s ease-in-out forwards;
  text-align: center;
  letter-spacing: 0.09131rem;
  color: #8B95A1;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.caption_y, .message_y, .caption_x, .message_x {
  animation: slideUp 0.8s ease-in-out forwards;
}

.container_x {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/kiosk/type_b/welcome_message_bg_x.svg') center center no-repeat;
  background-size: cover;
}

.time_x {
  font-family: "Century Gothic", sans-serif;
  font-size: 3.51563rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-top: 5.08rem;
  margin-bottom: 0.47rem;
  color: #FFF;
}

.date_x {
  font-family: "Pretendard", sans-serif;
  font-size: 1.17188rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-bottom: 22.91rem;
  color: #FFF;
}

.message_x {
  font-family: "Pretendard", sans-serif;
  font-size: 2.34375rem;
  font-weight: 500;
  font-style: normal;
  line-height: 140%;
  margin-bottom: 0.39rem;
  text-align: center;
  letter-spacing: -0.04688rem;
  color: #191F28;
}

.caption_x {
  font-family: "Pretendard", sans-serif;
  font-size: 1.01563rem;
  font-weight: 400;
  font-style: normal;
  line-height: 150%;
  text-align: center;
  letter-spacing: 0.1625rem;
  color: #8B95A1;
}

.wrapper {
  display: flex;
  gap: 1rem;
}