.index {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
  padding: 0.75rem 4.47rem .75rem 2rem;
  text-align: center;
  letter-spacing: 0.04375rem;
  color: #8B95A1;
}

.index span {
  font-weight: 500;
  color:#FFF;
}

.prev_btn {
  box-sizing: border-box;
  cursor: pointer;
  border: 2px solid transparent;
}

.prev_btn:last-child {
  margin-bottom: 1rem;
}

.active {
  border-color: #40EBEB;
}

.scroll {
  display: flex;
  overflow-y: scroll;
  flex-direction: column;
  height: 100%;
  max-height: calc(100vh - 12.69rem);
  margin-top: 2.69rem;
  padding-right: 1.75rem;
  gap: 1rem;
}