.wrapper {
  display: flex;
  gap: 1rem;
}

.container_y {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 23.7275rem;
  height: 42.18225rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/smart/type_a/bigdata_bg_y.svg') center center no-repeat;
  background-size: cover;
}

.tab_list_y {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 9rem;
  gap: 0.26rem
}

.tab_y {
  font-family: "Pretendard", sans-serif;
  font-size: 0.54881rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.51238rem;
  height: 1.75619rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #ADB5BD;
  border: 0.176px solid rgba(0, 0, 0, 0.40);
  border-radius: 1.09763rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), #4E5968;
}

.active_y {
  font-family: "Pretendard", sans-serif;
  font-size: 0.54881rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.51238rem;
  height: 1.75619rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 1.09763rem;
  background: #3537AC;
}

.prev_y {
  width: 1.75619rem;
  height: 1.75619rem;
  cursor: pointer;
}

.next_y {
  width: 1.75619rem;
  height: 1.75619rem;
  cursor: pointer;
  transform: scaleX(-1);
}

.slide_y {
  display: flex;
  align-items: center;
  margin-top: 1.76rem;
}

.item_y {
  width: 18.65961rem;
  height: 19.54728rem;
}


.pagination_y {
  font-family: "Roboto", sans-serif;
  font-size: 0.43906rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-top: 1rem;
  text-align: center;
  letter-spacing: -0.011rem;
  color: #666;
}

.pagination_y span {
  font-family: "Roboto", sans-serif;
  font-size: 0.43906rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: -0.011rem;
  color: #FFFFFF;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fade-in {
  animation: fadeIn 0.5s ease forwards;
}

.fade-out {
  animation: fadeOut 0.5s ease forwards;
}

.container_x {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 75rem;
  height: 42.1875rem;
  transition: all 0.5s ease;
  background: url('../../../assets/img/smart/type_a/bigdata_bg_x.svg') center center no-repeat;
  background-size: cover;
}

.slide_x {
  display: flex;
  align-items: center;
  margin-top: 2.08rem;
  margin-left: 6rem;
}

.prev_x {
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
}

.next_x {
  width: 3.125rem;
  height: 3.125rem;
  cursor: pointer;
  transform: scaleX(-1);
}

.item_x {
  width: 58.59375rem;
  height: 16.47266rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.pagination_x {
  font-family: "Roboto", sans-serif;
  font-size: 0.70313rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  margin-top: 1.61rem;
  margin-left: 6rem;
  text-align: center;
  letter-spacing: -0.01756rem;
  color: #666;
}

.pagination_x span {
  font-family: "Roboto", sans-serif;
  font-size: 0.70313rem;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  text-align: center;
  letter-spacing: -0.01756rem;
  color: #FFFFFF;
}


.tab_list_x {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 14.36rem;
  margin-left: 6rem;
  gap: 0.26rem;
}

.tab_x {
  font-family: "Pretendard", sans-serif;
  font-size: 0.97656rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 3.125rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #ADB5BD;
  border: 0.313px solid rgba(0, 0, 0, 0.40);
  border-radius: 1.95313rem;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 0%, rgba(0, 0, 0, 0.60) 100%), #4E5968;
}

.active_x {
  font-family: "Pretendard", sans-serif;
  font-size: 0.97656rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.25rem;
  height: 3.125rem;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 1.95313rem;
  background: #3537AC;
}